name: Docker Image Build and Test

on:
  push:
    branches:
      - main  # Adjust branch name as needed

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Display directory contents
      run: |
        ls -l

    - name: Install AWS CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y awscli

    - name: Configure AWS credentials
      run: |
        aws configure set aws_access_key_id ${{ secrets.HYDRA_AWS_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.HYDRA_AWS_SECRET_ACCESS_KEY }}
        aws configure set default.region us-east-1

    - name: Build Docker image
      run: docker build -t hydra-dotnet .

    - name: AWS ECR Login
      run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 622556412541.dkr.ecr.us-east-1.amazonaws.com

    - name: Tag Docker image
      run: docker tag hydra-dotnet:latest 622556412541.dkr.ecr.us-east-1.amazonaws.com/hydra-dotnet:latest

    - name: Push Docker image to AWS ECR
      run: docker push 622556412541.dkr.ecr.us-east-1.amazonaws.com/hydra-dotnet:latest
